 <!--  / footerBox \ -->
 <footer class="footerBox">
     <div class="container">
         <div class="row row-sm-block">
             <div class="col-33 col-sm-100 align-self-center">
                 <img class="mg-l10 mg-b30 mg-t30 footerBox__logo" src="images/logo2.png" alt="">
             </div>
             <div class="col-66 col-sm-100">
                 <div class="row">
                     <div class="col-33">
                         <h4>Get To Know Us</h4>
                         <ul class="footerBox__list">
                             <li><a href="#">About Us</a></li>
                             <li><a href="#">Help Center</a></li>
                             <li><a href="#">Blog</a></li>
                             <li><a href="#">Honor Code</a></li>
                             <li><a href="#">Accessibility</a></li>
                             <li><a href="#">Careers</a></li>
                             <li><a href="#">Press</a></li>
                         </ul>
                     </div>
                     <div class="col-33">
                         <h4>Learn With Us</h4>
                         <ul class="footerBox__list">
                             <li><a href="#">Demo Lesson Space</a></li>
                             <li><a href="#">Subjects</a></li>
                             <li><a href="#">Browse Tutors</a></li>
                             <li><a href="#">Test Prep Courses</a></li>
                             <li><a href="#">For Parents</a></li>
                         </ul>
                     </div>
                     <div class="col-33">
                         <h4>Partner With Us</h4>
                         <ul class="footerBox__list">
                             <li><a href="#">Ambassadors</a></li>
                             <li><a href="#">Academic Partners</a></li>
                             <li><a href="#">Corporate Partners</a></li>
                             <li><a href="#">Become a Tutor</a></li>
                         </ul>
                     </div>        
                 </div>
             </div>
         </div>
         <div class="row row-sm-block">
             <div class="col-33 col-sm-100">
                 <h4>Online Tutors in Popular Subjects</h4>
                 <ul class="footerBox__list">
                     <li><a href="#">Writing Tutors</a></li>
                     <li><a href="#">Statistics Tutors</a></li>
                     <li><a href="#">Algebra Tutors</a></li>
                     <li><a href="#">Computer Science (General) Tutors</a></li>
                     <li><a href="#">Library and Information Science Tutors</a></li>
                     <li><a href="#">Accounting Tutors</a></li>
                 </ul>
             </div>
             <div class="col-66 col-sm-100">
                 <div class="row">
                     <div class="col-33">
                         <h4>&nbsp;</h4>
                         <ul class="footerBox__list">
                             <li><a href="#">Calculus Tutors</a></li>
                             <li><a href="#">English Tutors</a></li>
                             <li><a href="#">Chemistry Tutors</a></li>
                             <li><a href="#">Basic Math Tutors</a></li>
                             <li><a href="#">Python Programming Tutors</a></li>
                             <li><a href="#">Physics Tutors</a></li>
                         </ul>        
                     </div>
                     <div class="col-33">
                         <h4>&nbsp;</h4>
                         <ul class="footerBox__list">
                             <li><a href="#">Biology Tutors</a></li>
                             <li><a href="#">Finance Tutors</a></li>
                             <li><a href="#">C++ Programming Tutors</a></li>
                             <li><a href="#">Organic Chemistry Tutors</a></li>
                             <li><a href="#">Economics Tutors</a></li>
                             <li><a href="#">Java Programming Tutors</a></li>
                         </ul>        
                     </div>
                     <div class="col-33">
                         <h4>Connect With Us</h4>
                         <ul class="footerBox__social">
                             <li><a href="#"><img width="27" src="images/social/facebook.png" alt=""> Facebook</a></li>
                             <li><a href="#"><img width="27" src="images/social/twitter.png" alt="">Twitter</a></li>
                             <li><a href="#"><img width="27" src="images/social/linkedin.png" alt="">LinkedIn</a></li>
                             <li><a href="#"><img width="27" src="images/social/youtube.png" alt="">YouTube</a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="footerBox__copyright">
         <div class="container">
             <div class="d-flex justify-content-between align-items-center">
                 <ul class="copyright-links">
                     <li><a href="#">Terms of Service</a></li>
                     <li><a href="#">Privacy Policy</a></li>
                 </ul>
                 <p>© 2013 - 2021 Aproresco, LLC</p>
             </div>
         </div>
     </div>    
 </footer>
 <!--  \ footerBox / -->

