<!--  / headerBox \ -->
<header class="headerBox">
     <div class="container">
          <div class="headerBox-inner">
               <a href="#" class="headerBox__logo"><img src="images/logo2.png"></a>
               <div class="headerBox__menu-wrapper">
                    <div class="cross-menu-mobile text-right">
                         <button class="cross-menu-btn">Close</button>
                    </div>
                    <ul class="headerBox__menu">
                         <li><a href="#pricing">Pricing</a></li>
                         <li><a href="#schools">Schools</a></li>
                         <li><a href="#demoLessions">Demo Lesson Space</a></li>
                         <li><a href="#courses">Courses</a></li>
                    </ul>
                    <ul class="headerBox__menu text-sm-center mg-l30 mg-md-l0">
                         <li><a href="#">Sign In</a></li>
                         <li><a class="headerBox__menu-btn" href="#">Start free trial</a></li>
                    </ul>
               </div>
               <button class="mobile-toggle">
                    Menu
               </button>
          </div>
     </div>
</header>
<!--  \ header / -->

