

{{ define "home" }}
        <!--  / bannerBox \ -->
        <div class="home-banner img-bg">
            <div class="slick-single-slide" id="singleSlide">
                <div class="img-bg" style="background-image: url(images/bg.jpg);"></div>
                <div class="img-bg" style="background-image: url(images/bg.jpg);"></div>
                <div class="img-bg" style="background-image: url(images/bg.jpg);"></div>
            </div>
            <!--  / bannerBox \ -->
            <article class="bannerBox">
                <div class="container">
                    <div>
                        <h1 class="bannerBox__title">Get better grades.</h1>
                        <h2>Instant online tutoring</h2>
                    </div>
                </div>
            </article>
            <!--  \ bannerBox / -->
        </div>
        <div class="bannerBox__logos">
            <div class="container">
                <div class="bannerBox__logos-inner">
                    <h3 class="bannerBox__logos-title">Tutors from:</h3>
                    <ul class="bannerBox__logos-list">
                        <li><img src="images/logos/logo1.png" alt=""></li>
                        <li><img src="images/logos/logo2.png" alt=""></li>
                        <li><img src="images/logos/logo3.png" alt=""></li>
                        <li><img src="images/logos/logo4.png" alt=""></li>
                        <li><img src="images/logos/logo5.png" alt=""></li>
                        <li><img src="images/logos/logo6.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  \ bannerBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox" id="pricing">
            <div class="container">
                <h1 class="contentBox__title">How TutorMe works</h1>
                <ul class="contentBox__list">
                    <li>
                        <span class="contentBox__list-number">1</span>
                        <div class="contentBox__list-pic">
                            <img src="images/steps/step-1.png" alt="">
                        </div>
                        <div class="contentBox__list-text">
                            <h3>Request</h3>
                            <p>Tell us what you need help with and our smart matching system will connect you with an online tutor. Sign up for a free trial using a debit/credit card.</p>
                        </div>
                    </li>
                    <li>
                        <span class="contentBox__list-number">2</span>
                        <div class="contentBox__list-pic">
                            <img src="images/steps/step-2.png" alt="">
                        </div>
                        <div class="contentBox__list-text">
                            <h3>Learn</h3>
                            <p>Tell us what you need help with and our smart matching system will connect you with an online tutor. Sign up for a free trial using a debit/credit card.</p>
                        </div>
                    </li>
                    <li>
                        <span class="contentBox__list-number">3</span>
                        <div class="contentBox__list-pic">
                            <img src="images/steps/step-3.png" alt="">
                        </div>
                        <div class="contentBox__list-text">
                            <h3>Review</h3>
                            <p>Tell us what you need help with and our smart matching system will connect you with an online tutor. Sign up for a free trial using a debit/credit card.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox grey-bg" id="schools">
            <div class="container">
                <h1 class="contentBox__title">Why use TutorMe?</h1>

                <div class="contentBox__feature">
                    <div class="contentBox__feature-left">
                        <div class="contentBox__feature-item">
                            <div class="contentBox__feature-pic">
                                <img src="images/why-block/tutors.png" alt="">
                            </div>
                            <h3 class="contentBox__feature-title">On-demand tutoring</h3>
                            <p class="contentBox__feature-desc">Connect with an online tutor in less than 30 seconds, 24/7. It doesn’t matter if you want help with a single problem or you need a 3-hour lesson.</p>
                        </div>
                        <div class="contentBox__feature-item">
                            <div class="contentBox__feature-pic">
                                <img src="images/why-block/tutors.png" alt="">
                            </div>
                            <h3 class="contentBox__feature-title">Learn from the best tutors</h3>
                            <p class="contentBox__feature-desc">Highly qualified tutors from the best universities across the globe ready to help. An acceptance rate of 4% means all our tutors are thoroughly screened.</p>
                        </div>
                    </div>
                    <div class="contentBox__feature-center">
                        <div class="contentBox__feature-largePic">
                            <img src="images/why-block/logo-icon.png" alt="">
                        </div>
                    </div>
                    <div class="contentBox__feature-right">
                        <div class="contentBox__feature-item">
                            <div class="contentBox__feature-pic">
                                <img src="images/why-block/all-tools.png" alt="">
                            </div>
                            <h3 class="contentBox__feature-title">All the tools you need</h3>
                            <p class="contentBox__feature-desc">Our lesson space features a virtual whiteboard, text editor, audio/video chat, screensharing and so much more. All lessons are archived for your convenience.</p>
                        </div>
                        <div class="contentBox__feature-item">
                            <div class="contentBox__feature-pic">
                                <img src="images/why-block/open-book.png" alt="">
                            </div>
                            <h3 class="contentBox__feature-title">Get help in any subject</h3>
                            <p class="contentBox__feature-desc">We cover over 300 subjects across all grade levels. Whether it’s high school algebra or college-level Spanish, we have a tutor that can help.</p>
                        </div>
                    </div>
                </div>

            </div>
        </article>
        <!--  \ contentBox / -->
        
        <!--  / contentBox \ -->
        <article class="contentBox">
            <div class="container">
                <h1 class="contentBox__title">As Seen In</h1>
                <ul class="contentBox__client-list">
                    <li><img src="images/clients/client1.png" alt=""></li>
                    <li><img src="images/clients/client2.png" alt=""></li>
                    <li><img src="images/clients/client3.png" alt=""></li>
                    <li><img src="images/clients/client4.png" alt=""></li>
                    <li><img src="images/clients/client5.png" alt=""></li>
                    <li><img src="images/clients/client6.png" alt=""></li>
                    <li><img src="images/clients/client7.png" alt=""></li>
                    <li><img src="images/clients/client8.png" alt=""></li>
                    <li><img src="images/clients/client9.png" alt=""></li>
                </ul>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox grey-bg">
            <div class="container">
                <h1 class="contentBox__title">Awards and Recognitions</h1>
                <ul class="contentBox__client-list">
                    <li><img src="images/awards/award1.png" alt=""></li>
                    <li><img src="images/awards/award2.png" alt=""></li>
                    <li><img src="images/awards/award3.png" alt=""></li>
                    <li><img src="images/awards/award4.png" alt=""></li>
                    <li><img src="images/awards/award5.png" alt=""></li>
                </ul>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox">
            <div class="container">
                <h1 class="contentBox__title">What students say about our tutors</h1>

                <div class="slick-slider" id="threeSlide">
                    <div class="contentBox__testimonial">
                        <img class="contentBox__testimonial-quote" src="images/quote.png" alt="">
                        <p class="contentBox__testimonial-desc">Sam was awesome! He really walked me through all the concepts I was struggling with. His patience was encouraging and kept me going.</p>
                        <div class="contentBox__testimonial-pic">
                            <img src="images/testimonials/sam.jpg" alt="">
                        </div>
                        <h3 class="contentBox__testimonial-title">Sam P.</h3>
                    </div>
                    <div class="contentBox__testimonial">
                        <img class="contentBox__testimonial-quote" src="images/quote.png" alt="">
                        <p class="contentBox__testimonial-desc">I never thought finance and accounting could be so interesting. I now enjoy challenging questions. I admire her passion and dedication to teaching.</p>
                        <div class="contentBox__testimonial-pic">
                            <img src="images/testimonials/sandra.jpg" alt="">
                        </div>
                        <h3 class="contentBox__testimonial-title">Sandra Y.</h3>
                    </div>
                    <div class="contentBox__testimonial">
                        <img class="contentBox__testimonial-quote" src="images/quote.png" alt="">
                        <p class="contentBox__testimonial-desc">Wow. This tutor needs a prize. She actually helped me understand what my physics teacher is saying in class. I’ll be here next week for sure.</p>
                        <div class="contentBox__testimonial-pic">
                            <img src="images/testimonials/cynthia.jpg" alt="">
                        </div>
                        <h3 class="contentBox__testimonial-title">Cynthia S.</h3>
                    </div>
                </div>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox img-bg" id="demoLessions" style="background-image: url(images/tryus-bg.jpg);">
            <div class="container text-center">
                <div class="contentBox__tryus">
                    <h1 class="contentBox__tryus-title">Try us for free</h1>
                    <p class="contentBox__tryus-desc">Get 30 minutes of live 1-on-1 tutoring on us. Seriously.</p>
                    <div class="text-center">
                        <div class="mg-b10">
                            <a href="#" class="btn btn-success">Start Free Trial</a>
                        </div>
                        <div>
                            <a href="#" class="btn btn-light-link">View our membership plans</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox">
            <div class="container">
                <div class="contentBox__space">
                    <div class="contentBox__space-left">
                        <h1 class="contentBox__space-title">Advanced lesson space</h1>
                        <p class="contentBox__space-desc">Our innovative online classroom provides the closest experience there is to an in-person tutoring
                            lesson. In fact, it’s better.</p>
                        <a href="#" class="btn btn-success">DEmo lesson Space</a>
                    </div>
                    <div class="contentBox__space-right">
                        <img class="contentBox__space-pic" src="images/space-pic.png" alt="">
                    </div>
                </div>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox grey-bg" id="courses">
            <div class="container">
                <h1 class="contentBox__title">Find online tutors in any subject</h1>
                <ul class="contentBox__subject-list">
                    <li><a href="#"><img src="images/subjects/subject1.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject2.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject3.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject4.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject5.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject6.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject7.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject8.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject9.png" alt=""> Computer Science</a></li>
                    <li><a href="#"><img src="images/subjects/subject10.png" alt=""> Computer Science</a></li>
                </ul>
                <div class="text-right pd-t20">
                    <a href="#" class="btn btn-link">See All Subjects <img src="images/arrow.png" alt=""></a>
                </div>
            </div>
        </article>
        <!--  \ contentBox / -->

        <!--  / contentBox \ -->
        <article class="contentBox">
            <div class="container">
                <div class="contentBox__search">
                    <input class="form-control" type="text" placeholder="What subject do you need help with?" value="">
                    <button class="btn btn-success">Search</button>
                </div>
            </div>
        </article>
        <!--  \ contentBox / -->

        <div class="bannerBox__logos2">
            <div class="container">
                <div class="bannerBox__logos2-inner">
                    <h3 class="bannerBox__logos2-title">BEST IN CLASS SINCE 2015</h3>
                    <ul class="bannerBox__logos2-list">
                        <li><img src="images/logos/logo7.png" alt=""></li>
                        <li><img src="images/logos/logo8.png" alt=""></li>
                        <li><img src="images/logos/logo9.png" alt=""></li>
                        <li><img src="images/logos/logo10.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
{{end}}